<div class = "container">
 <div class ="row">
  <div class="col-md-10">
  <h2>Customer detail</h2>
  </div>
<table class ="table table-borderless">
 <tbody>
  <tr>
   <td>CustomerID</td>
   <td><%= @customer.id %></td>
  </tr>
  <tr>
   <td>Name</td>
   <td><%= @customer.last_name %> <%= @customer.first_name %></td>
  </tr>
  <tr>
   <td>Name kana</td>
   <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
  </tr>
  <tr>
   <td>Postcode</td>
   <td><%= @customer.post_code %></td>
  </tr>
  <tr>
   <td>Address</td>
   <td><%= @customer.address %></td>
  </tr>
  <tr>
   <td>Phonenumber</td>
   <td><%= @customer.phone_number %></td>
  </tr>
  <tr>
   <td>E-mal</td>
   <td><%= @customer.email %></td>
  </tr>
  <tr>
   <td>Customerstatus</td>
   <td>
    <% if @customer.is_deleted %>
        <span class="text-secondary">退会</span>
       <% else %>
        <span class="text-success">有効</span>
       <% end %>
   </td>
  </tr>
 </tbody>
</table>
　<%= link_to "編集する",edit_admin_customer_path(@customer.id), class:"btn btn-sm btn-success" %>

　</div>
</div>
