<div class="container">
  <div class="row pl-5">
    <div class="title col-md-auto bg-light text-dark mb-4">
      注文履歴詳細
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p>注文情報</p>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="bg-light">注文日</td>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td class="bg-light">配送先</td>
            <td>
              <%= '〒' + @order.post_code + ' ' + @order.address + ' ' + @order.name %>
            </td>
          </tr>
          <tr>
            <td class="bg-light">支払方法</td>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <td class="bg-light">ステータス</td>
            <td>
              <%= form_with model: @order, :url => {:action => :update} do |f| %>
                <%= f.select :status, [["入金待ち", "wating_payment"], ["入金確認中", "confirming"], ["製作中", "producting"], ["発送準備", "preparation"], ["発送済み", "shipped"]] %>
                <%= f.submit '更新する', class: "btn btn-success ml-2" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4 ml-5">
      <p>請求情報</p>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="bg-light">商品合計</td>
            <td><%= @order.total_price.to_s + "円" %></td>
          </tr>
          <tr>
            <td class="bg-light">配送料</td>
            <td><%= @order.postage.to_s + "円" %></td>
          </tr>
          <tr>
            <td class="bg-light">ご請求額</td>
            <td><%= (@order.total_price + @order.postage).to_s + "円" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <p>注文内容</p>
      <table class="table table-bordered mt-3">
        <thead class="bg-light">
          <th class="col-4">商品</th>
          <th class="col-2">単価(税込)</th>
          <th class="col-2">個数</th>
          <th class="col-2">小計</th>
          <th class="col-3">制作ステータス</th>
          <th class="col-1"></th>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.item.get_tax_include_price.to_s + "円" %></td>
              <td><%= order_detail.amount.to_s + "個" %></td>
              <td><%= (order_detail.item.price * order_detail.amount).to_s + "円"%></td>
              <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id) do |f| %>
                <td><%= f.select :product_status, [["制作不可", "cannot_product"], ["制作待ち", "wating_product"], ["製作中", "producting"], ["制作完了", "finish_product"]]  %></td>
                <td><%= f.submit "更新する", class: "btn btn-success" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>

