<div class="container">
  <div class="row">
    <div class="col">
      <h1>配送先編集</h1>

      <%= form_with model: @address, :url => {:action => :update }, local: true do |f| %>
        <ul class="list-unstyled">
          <li>郵便番号（ハイフンなし）</li>
          <%= f.text_field :post_code %>
          <li>住所</li>
          <%= f.text_area :address %>
          <li>宛名</li>
          <%= f.text_field :name %>
        </ul>
        <%= f.submit "変更内容を保存", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>