<div class="container">
  <div class="row align-items-center">
    <div class="col">

      <div class= "col-3">
      <div class="title col-md-auto bg-light text-dark mb-4 mx-4">配送先登録/一覧</div>
      </div>

      <%= form_with model: @new_addrese, local: true do |f| %>

        <%= f.hidden_field :customer_id, value: current_customer.id %>
        <div class="col-3">
        <div class="form-group mx-sm-3 mb-2">
          <div class="field">
          郵便番号（ハイフンなし）
          <%= f.text_field :post_code, class:"form-control"%>
        </div>
        </div>
        </div>



        <div class="col-6">
          <div class="form-group mx-sm-3 mb-2">
          <div class="field">
         住所 <%= f.text_field :address_code, class:"form-control"%>
        </div>
        </div>
        </div>



        <div class="col-3">
        <div class="form-group mx-sm-3 mb-2">
          <div class="field">
          宛名
          <%= f.text_field :name, class:"form-control"%>
        </div>
        </div>
        </div>
        <div class="col-3">
          <div class="actions col-8 mb-3">
        <%= f.submit "新規登録", class: "btn btn-success" %>
        </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>

  <div class="col-8">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" class="col-2">郵便番号</th>
          <th scope="col" class="col-2">住所</th>
          <th scope="col" class="col-2">宛名</th>
          <th scope="col" class="col-2"></th>
        </tr>
      </thead>
      <% @addresses.each do |address| %>
      <tr>
        <td><%= address.post_code %></td>
        <td><%= address.address_code %></td>
        <td><%= address.name %></td>
        <td>
          <%= link_to '編集する', edit_address_path(address.id), class: "btn btn-success mx-1 py-0" %>
          <%= link_to '削除する', address_path(address.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger py-0" %>
      </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
