<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <h1>配送先登録/一覧</h1>
      <%= form_with model: @new_addrese, local: true do |f| %>
        <ul class="list-unstyled">
        <%= f.hidden_field :customer_id, value: current_customer.id %>
        <li>郵便番号（ハイフンなし）</li>
        <%= f.text_field :post_code %>
        <li>住所</li>
        <%= f.text_area :address_code %>
        <li>宛名</li>
        <%= f.text_field :name %>
        <%= f.submit "新規登録", class: "btn btn-success" %>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="col mt-4">
    <table>
      <thead>
        <tr>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th></th>
        </tr>
      </thead>
      <% @addresses.each do |address| %>
      <tr>
        <td><%= address.post_code %></td>
        <td><%= address.address_code %></td>
        <td><%= address.name %></td>
        <td>
          <%= link_to '編集する', edit_address_path(address.id), class: "btn btn-success mx-1 py-0" %>
          <%= link_to '削除する', address_path(address.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger py-0" %>
      </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
