<div class="container">
  <div class="row">
  <div class="col-md-3">
    <table class="table table-striped">
     <thead>
      <tr>ジャンル検索</tr>
     </thead>
     <tbody>
      <% @genres.each do |genre| %>
       <tr><td><%= link_to genre.name, items_path(genre_id: genre.id) %></td></tr>
      <% end %>
     </tbody>
    </table>
  </div>
  <div class="col-md-9">
    <div class="container">
      <div class="row">
        <div class="col-md-5"><%= image_tag @item.get_image, size: '200x200'%></div>
          <%= form_with model: @cart_item, url: cart_items_path, :method => :post, local: true do |f| %>
        <table class="table table-borderless col">
          <tr>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <td><%= @item.get_tax_include_price.to_s + "円" %><strong>(税込み)</strong></td>
          </tr>
            <%= f.hidden_field :item_id, value: @item.id %>
            <tr>
              <td><%= f.select :amount, *[1..20]%>個</td>
            </tr>
            <tr>
              <td>
                <% if @item.is_active %>
                  <%= f.submit "カートに入れる", class: "btn btn-success" %>
                <% else %>
                  <button class="btn btn-warning" disabled=true>販売停止中</button>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>