<header class="navbar navbar navbar-dark bg-light navbar-inverse mb-5">
 <div class="container">
  <nav class='nav navbar-nav navbar-left' >
   <h2><a class="navbar-brand p-3 text-dark" href = "/" >NaganoCake</a></h2>
  </nav>
  <ul class="d-flex flex-row navbar-nav ml-auto">
  <% if customer_signed_in? %>

  <li class="nav-item m-4">
   ようこそ、<%= current_customer.last_name %>　さん！
  </li>

  <li class="nav-item m-3">
   <%= link_to "マイページ", customers_path, class: 'btn btn-outline-secondary' %>
  </li>

  <li class="nav-item m-3">
   <%= link_to "商品一覧", items_path, class: 'btn btn-outline-secondary' %>
  </li>

  <li class="nav-item m-3">
   <%= link_to "カート", cart_items_path, class: 'btn btn-outline-secondary' %>
  </li>

  <li class="nav-item m-3">
   <%= link_to "注文履歴", orders_path, class: 'btn btn-outline-secondary' %>
  </li>

  <li class="nav-item m-3">
   <%= link_to destroy_customer_session_path, :method => :delete ,class:'btn btn-outline-secondary' do %>
    <i class ="fas fa-sign-out-alt"></i>Log out
   <% end %>
  </li>

  <% elsif admin_signed_in? %>

  <li class="nav-item m-3">
   <%= link_to "商品一覧", admin_items_path, class: 'btn btn-outline-secondary' %>
  </li>

  <li class="nav-item m-3">
   <%= link_to "顧客一覧", admin_customers_path, class: 'btn btn-outline-secondary' %>
  </li>

  <li class="nav-item m-3">
   <%= link_to "注文履歴", admin_orders_path, class: 'btn btn-outline-secondary' %>
  </li>

   <li class="nav-item m-3">
   <%= link_to "ジャンル一覧", admin_genres_path, class: 'btn btn-outline-secondary' %>
  </li>

  <li class="nav-item m-3">
   <%= link_to destroy_admin_session_path, :method => :delete ,class:'btn btn-outline-secondary' do %>
    <i class ="fas fa-sign-out-alt"></i>Log out
   <% end %>
  </li>


  <% else %>

  <li class="nav-item m-3">
   <%= link_to "About", about_path, class: 'btn btn-outline-secondary' %>
  </li>

  <li class="nav-item m-3">
   <%= link_to "商品一覧", items_path, class: 'btn btn-outline-secondary' %>
  </li>

  <li class="nav-item m-3">
   <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-outline-secondary' %>
  </li>

  <li class="nav-item m-3">
   <%= link_to 'Log in', new_customer_session_path, class: "btn btn-outline-secondary" %>
  </li>
  <% end %>
  </ul>
   <div class="d-flex flex-row navbar-nav ml-auto">
  <input type="search" name="search" placeholder="search">
  <input type="submit" name="submit" value="検索">
  </div>
 </div>

</header>